<h1> Bulk Discount Index for <%= @merchant.name %> </h1>

<% @merchant.bulk_discounts.each_with_index do |bulk_discount, index| %>
  <div class="bulk-discount-<%= index %>">
    <h3> <%= link_to "Discount ID: #{bulk_discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %> </h3>
    <li> <%= "Discount %: #{bulk_discount.percentage_discount}" %> </li>
    <li> <%= "Qty to qualify: #{bulk_discount.quantity_threshold}" %> </li>
    <li> <%= link_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}", method: :delete %> </li>
  </div>
<% end %>

<div class="upcoming-holidays">
  <h2> Upcoming Holidays </h2>
  <% @holidays.each do |holiday| %>
  <h3> <%= holiday.name %> </h3>
  <p> <%= holiday.date %> </p>
  <% end %>
</div>

<div class="create-discount">
  <h3> <%= link_to "Create New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %> </h3>
</div>
